.add-new-channel{
    margin-top: 50px;
    font-size: 30px;
}

.input-group{
    max-width: 250px;
    border-radius: 10px;
    border: 1px solid #adb5bd;
    width: 250px;
    margin: 0 auto;
    padding: 5px;
}


#channel-name, #channel-privacy{
    height: 30px;
    width: 100%;
    border: none;
    font-size: 13px;
    padding: 10px;
    outline: none;
}

#channel-privacy{
    width: 100%;
    float: left;

}

datalist{
    color: #adb5bd;
    background-color: transparent;
}

input::-webkit-calendar-picker-indicator{
    opacity: 100%;
}



select:-moz-focusring{
    color: transparent;
    text-shadow: 0 0 0 #000;
}

::placeholder{
    color: #adb5bd;
}