html{
    min-height: 100%;
    height: 100%;
}

body{
    min-width: 454px;
    min-height: 100%;
    height: 100%;
}

.nav {
    flex: 38px;
    width: 100%;
    height: 38px;
    background-color: #340e36;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.nav-ist{
    flex: 0.28;
    height: 24px;
    overflow: hidden;
    border: none;
    padding-right: 15px;
}

.bi-clock{
    float: right;
    border: #664565;
    background-color: inherit;
    color: #cccce8;
}

.search {
    flex: 0.445;
    user-select: none;
    background-color: #644565;
    border-radius: 5px;
    border: none;
    height: 24px;

    min-width: 254px;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}


.search:hover{
    background-color: #664F67;
    cursor: pointer;
}

.help-block{
    flex: 0.27;
}

.help-btn{
    cursor: pointer;
    background: none;
    border: none;
    margin: 0 0 0 12px
}

.bi-question-circle{
    color: #cccce8;
}

.bi-question-circle:hover, .bi-clock:hover{
    color: white;
}

#profile-block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#profile-pic {
    padding: 0;
    width: 25px;
    height: 25px;
    border: none;
    margin-right: 10px;
    margin-top: -3px;
    border-radius: 4px;
    outline: none;
}

#profile-pic:hover{
    opacity: 70%;
}

#down-to-nav{
    height:  calc( 100% - 38px);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

sidebar {
    position: relative;
    min-height: 100%;
    height: 100%;
    min-width: 200px;
    flex: 0.165;
    background-color: #3f0e40;
    border: solid #472349;
    border-width: 0.5px 0.5px 0 0;
}

.chat-name-block{
    border: solid #472349;
    border-width: 1px 0 1px 0;
    height: 54px;
    width: 100%;
    padding: 10px;
}

#chat-name{
    color: white;
    font-size: 12px;
    font-family: "Arial Black";
    height: 13px;
    margin-top: 0px;
}

#user-name {
    color: #bbbbbb;
    font-size: 11px;
}

#online-status{
    color: green;
    font-size: 8px;
}

.edit-chat:hover, .background:hover, .pencil:hover{
    font-size: 12px;
}

.actions{
    border: solid #472349;
    border-width: 0 0 2px 0;
    height: 90px;
}

.action{
    border: none;
    width: 100%;
    height: 30px;
    background-color: transparent;
    color: #a58ea6;
    text-align: left;
    font-size: 13px;
}

.action-icons {
    margin: 0 7px 0 7px;
}

.bi-at{
    font-size: 16px;
    margin-right: 4px;
}

.channel-block{
    border: solid #472349;
    border-width: 0 0 2px 0;
    height: 31px;
}

.channels{
    height: 30px;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    color: #a58ea6;
    font-size: 12px;
    
}

.channels:hover, .action:hover, #logout-button:hover{
    background-color: #adb5bd;
    color: #472349;
}

.channels-icon{
    margin: 0 7px 0 7px;
    rotation-point: top;
    rotation: 180deg;
}

.bi-plus{
    margin-left: 13px;
    margin-right: 7px;
}

.logout-button{
    width: 100%;
    background-color:  #340e36;
}

#logout-button{

    text-align: center;
    width: 100%;
    height: 30PX;
    border: none;
    background-color: transparent;
    color: #adb5bd;
    font-size: 11px;
}

main{
    flex: 0.835;
    height: 100%;
}

.welcome{
    transform: translateY(50%);
    -ms-transform: translateY(50%);
    width: 600px;
    margin: auto auto auto auto;
    alignment: center;
    text-align: center;
}

.slack-logo{
    height: 80px;
}

.welcome-to-slack{
    font-family: Serif;
    font-size: 26px;
}

#create-channel-button{
    background-color: #0a8d48;
    border: none;
    border-radius: 5px;
    color: #f8f8f8;
    font-size: 14px;
    padding: 6px;
}

::placeholder{
    color: white;
}

::-ms-input-placeholder{
    color: white;
}